.bar{
    width: 100%;
    background:black;
    height:100px;
    color:#fff;
    text-align: center;
     font-family: monospace; 
    font-size:200%;
    margin-bottom: 25px;
}
.bar_icon{
    cursor: pointer;
    margin-right: 3%;
    margin-left: 3%;
    text-decoration:none;
    color: white;
  }
  
  .bar_icon:hover{
    color: purple;
  }

.navright{		
		position: absolute;
		top:7vh;
		left:82vw;
		color:white;
		font-family: "微軟正黑體";
}
.user{	
		width: 35px;
		height: 35px;
		}

.dropbtn {
        font-family: monospace;
		background-color:black;
  		padding: 0px;
          border:0;
          right: 100%;
}

.dropdown {
         font-family: monospace;
  		position: relative;
  		left:30px;
          display: inline-block;
          font-size: 10px;
}

.dropdown-content {
  		display: none;
  		position: absolute;
  		top:56px;
  		left:-18px;
  		min-width: 110px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1000;
  		
}
.dropdown-content a {
		background-color:black;
  		color: white;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;
}

.dropdown-content a:hover {
		background-color:black;
		color:black;
		text-decoration:none;
		font-weight:bolder;}

.dropdown:hover .dropdown-content {display: block;}
.dropbtn:focus{
	outline:none;
}
.indexmodal {
 		display: none; 
  		position: fixed; 
  		z-index: 100000; 
  		left: 0;
  		top: 0;
  		width: 100%; 
  		height: 100%;		 
  		overflow: auto; 
  		background-color: rgb(0,0,0); 
  		background-color: rgba(0,0,0,0.4); 
  		

}
.modal-content-index {
  		background-color:white;
  		margin: 10% auto 5% auto; 
  		border: 2px solid gray;
  		position:relative;
  		border-radius:20px;
  		box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3);
  		
}
.animate {
  		-webkit-animation: animatezoom 0.6s;
  		animation: animatezoom 0.6s
}
.login{	color:black;
		font-size:27px;
		margin-top:10px ;
		font-weight:bolder;}
.logomodal{
		width:100px;
		height:100px;
		margin:20px auto 0 auto;
}
.indexinput {
  		width: 83%;
  		padding: 12px 20px;
 		margin: 8px 0;
  		display: inline-block;
  		border: 1px solid #A35353;
 	 	box-sizing: border-box;
}
.closemodal{
		position: absolute;
  		right: 25px;
  		top: 0;
  		color: #000;
 		font-size: 40px;
  		font-weight: bold;	
}
.closemodal:hover,
.closemodal:focus {
  		color: red;
  		cursor: pointer;
}
.container_modal {
  		padding: 15px;
          color:black;
          font-size: 20px;
  		
}
.loginbut{
        background-color: black;
      font-family: monospace;
  		color:white;
  		font-size:24px;
  		padding: 5px;
  		border: none;
  		cursor: pointer;
  		width: 40%;
  		margin:30px auto 10px auto;
  		display:inline-block;
  		font-weight:bolder;
  		border-radius:20px;
}
.loginbut :hover{
		opacity: 0.8;
		
}
.sussce{  
  		margin: 15% auto 15% auto;
  		border: 1px solid #888;
  		border-radius:20px;
  		width: 15%; 
  		height: 22%;
  		background-color: #FFE1E1;
  		color:#A35353;
  		font-size:22px;
  		font-weight:bolder;
  		position: relative;
}
.duihao{width:100px;
		height:100px;
		
	}
#b_center {
    margin-left: 80px;
    　margin-right: 120px;
    　height: 400px;
    　text-align: center;
    　line-height: 400px;
}
#b_header {
    　height: 400px;
    　text-align: center;
    　line-height: 400px;

}
.mySlides fade {
    font-family: monospace;
}
.button {
    background-color: white;
    font-family: monospace;
    color: black;
    line-height: 70px;
    font-size: 25px;
    width: 150px;
    height: 70px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border-style: none;
}
.closebtn {
    margin-left: 15px;
    margin-top: 50px;
    color:darkred;
    font-weight: bold;
    float:right;
    font-size: 50px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.3s;
}
    .button:hover {
        color:darkred;
    }

.checked {
    border-bottom:dotted;
    text-align: center;
    margin-top: 80px;
    margin-left: 0px;
}
.txt1 {
    background-color:white;
    height: 200px;
    color:black;
   font-size:8px;
}
.vl {
    border-left: 2px solid #AAAAAA;
}
.coco {
    background-color: white;
    height: 80px;
    color: black;
    font-size:10px;
}
.sc {
    background-color:white;
    width: 60%;
    height: 1000px;
    margin: 0px auto;
    border-radius:90px;
    color:black;
}
.link-top {
    width: 70%;
    height: 100px;
    border-top: solid black 5px;
    margin: 5px auto;
}
.pd_i {
    font-size: 8px;
    
}
.pd_c {

    text-align: center;
    margin-left: 0px;
}
.pd_btn{
    background-color:black;
    font-family: monospace;
    color:white;
    line-height: 50px;
    font-size:15px;
    width: 80px;
    height: 60px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border-style: none;
}
.pd_inpt{
    width:500px;
    height:40px;
}
.pd_sel {
    width: 500px;
    height: 40px;
}